
<style>
    .card-header {
        background-color: gainsboro
    }

    .card-body {
        background-color: darkslategray;
        color: white;
    }
</style>
<div class="row no-gutters m-3">
    <div class="card col-sm-12 col-md-10 col-lg-6 mx-auto shadow">
        <div class="card-header text-center">
            <h5 class="m-0">Your estimated insurance cost is</h5>
        </div>
        <div class="card-body">
            <div class="form-group col-md-12">
                @ViewBag.Quote
                dollars monthly
            </div>
        </div>
    </div>
        </div>

